@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');

:root{
    --green: #27ae60;
    --dark-color: #219159;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--black);
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background: var(--dark-color);
}

.header .header-1{
     background: #fff;
     padding: 1.5rem 9%;
     display: flex;
     align-items: center;
     justify-content: space-between;
}



.header .header-1 .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i{
    color: var(--green);
}

.header .header-1 .search-form{
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color: var(--green);
}


.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem; 
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}


.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color: var(--green);
}


#search-btn{
    display: none;
}

.header .header-2{
    background: var(--green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background: var(--dark-color);
}

.header .header-2.active{
    position: fixed;
    top: 0; left:0; right:0;
    z-index: 1000;
}

body{
    height: 300rem;
}

.bottom-navbar{
    text-align: center;
    background-color: var(--green);
    position: fixed;
    bottom: 0; left: 0; right: 0;
    z-index: 1000;
}

.bottom-navbar a{
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover{
    background: var(--dark-color);
}

/* UserLogin */

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255 , 255, 255, 9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container .active{
    right: 0;
}
 
.login-form-container form{
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%; 
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}


.login-form-container form .checkbox{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    width: 100%;
    text-align: center;
    margin: 1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{ 
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* banner section start */
.banner{
    background: url(../image/rebort.jpg);
    width: 100%;
    height: 40vh;
}

.banner-container
{
    padding-top: 18vh;
    padding-left: 5vh;
}

.banner-content{
    width: 55%;
    display: flex;
    flex-direction: column;
}

.banner-content h1{
    font-size: 30px;
}

.banner-content p{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
}

.banner-content button{
    width: 30%;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
}

.banner-content button a{
    color: #000;
    font-weight: 500;
}

.banner-content button:hover{
    cursor: pointer;
    background: #088178;
}

/* home section */

section{
    padding: 5rem 9%;
}

/* login error message starts here */
/* dont touch it just fixed */
.message{
    position: sticky;
    top:0;
    margin:0 auto;
    max-width: 1200px;
    background-color: var(--white);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    gap:1.5rem;
 }
 .message span{
    font-size: 2rem;
    color:red;
 }
 
 .message i{
    cursor: pointer;
    color:red;
    font-size: 2.5rem;
 }
 
 .message i:hover{
    transform: rotate(90deg);
 }


/* Home section start */



/* home section ends */

/* feature section starts */
.section-p1{
    padding: 40px 80px;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}


#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: bold;
}

#product1 h2{
    font-size: 40px;
}

#product1 p{
    font-size: 10px;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


















/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header .header-1{
        padding: 2rem;
    }

    section{
        padding:3rem 2rem ;
    }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
        
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%; right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }
    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}
